<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home - Express MVC</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src='/javascripts/app.js'></script>
  </head>
  <body>
    <%= hello %>
  </body>
</html>
